<meta name="msapplication-config" content="{{ '/browserconfig.xml' | prepend: site.baseurl }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" href="{{ '/assets/icons/favicon-32x32.png' | prepend: site.baseurl }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/icons/favicon-16x16.png' | prepend: site.baseurl }}" sizes="16x16">
<link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">
<link rel="mask-icon" href="{{ '/assets/icons/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">